 <nav class="fixed top-0 w-full z-50 bg-slate-950/80 backdrop-blur-md border-b border-white/10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-20 items-center">

      <div class="flex items-center gap-2 flex-shrink-0">
        <div class="w-10 h-10 bg-gradient-to-br from-emerald-400 to-cyan-500 rounded-xl flex items-center justify-center shadow-lg shadow-emerald-500/20">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-slate-950" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
            <path d="m12 14 4-4"/><path d="M3.34 19a10 10 0 1 1 17.32 0"/>
          </svg>

        </div>
        <span class="text-xl sm:text-2xl font-black tracking-tighter bg-clip-text text-transparent bg-gradient-to-r from-white to-slate-400">
          PRONO<span class="text-emerald-400">LAB</span>
        </span>
      </div>

      <!-- Desktop Menu (Caché sur mobile) -->
      <div class="hidden md:flex items-center gap-8 text-sm font-medium text-slate-400">
        @if(isAuthenticated()){
          <router-link [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="text-green-400! shadow-md" routerLink="/match" class="block text-lg font-medium text-white hover:text-emerald-400 py-2">Matchs</router-link>
        <router-link [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="text-green-400! shadow-md" routerLink="/stats" class="block text-lg font-medium text-white hover:text-emerald-400 py-2">Mes stats</router-link>
        <router-link routerLink="/ranking" class="block text-lg font-medium text-white hover:text-emerald-400 py-2">Classement</router-link>
        }


      </div>

      <!-- Actions Desktop -->
      @if(!isAuthenticated()){
        <div class="hidden md:flex items-center gap-4">
        <button (click)="login()" class="text-sm text-white "> Connexion</button>
      </div>
      }
      @else {
        <button (click)="logout()" class="text-sm text-white "> Deconnexion</button>
      }


      <!-- Mobile Menu Button (Visible uniquement sur mobile) -->
      <div class="md:hidden flex items-center gap-4">
        <button (click)="toggleMenu()" class="text-white p-2 focus:outline-none">
          <svg *ngIf="!isMenuOpen()" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
          <svg *ngIf="isMenuOpen()" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path cxstroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="isMenuOpen()"
      class="md:hidden bg-slate-900 border-b border-white/10 px-4 pt-2 pb-6 space-y-4 absolute w-full left-0 animate-in fade-in slide-in-from-top-5 duration-200">
    @if(isAuthenticated()){
          <router-link routerLink="/match" class="block text-lg font-medium text-white hover:text-emerald-400 py-2">Matchs</router-link>
        <router-link routerLink="/ranking" class="block text-lg font-medium text-white hover:text-emerald-400 py-2">Classement</router-link>
        }
      <button (click)="login()" class="w-full text-center py-3 text-slate-400 font-semibold">Connexion</button>
  </div>
</nav>
